.heading-textGradian {
  background-image: linear-gradient(
    to right,
    var(--chakra-colors-purple-500),
    var(--chakra-colors-blue-500)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
